/* ----- Google Fonts Import ----- */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto&display=swap");

/* ----- General Styles ----- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #333;
  text-align: center;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0;
}

h1 {
  font-size: 2.4rem;
  color: #ecaf44;
  padding-bottom: 0.5em;
}

h2 {
  font-size: 2rem;
  color: #be2f29;
  padding-bottom: 0.7em;
}

h3 {
  font-size: 1.5rem;
  padding: 0.7em;
}

p {
  padding-bottom: 1.5em;
}

i {
  padding-right: 0.5em;
}

/* ----- Section Styles ----- */

header,
.about-intro {
  background-color: #23374f;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 1px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.header-wrapper {
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name {
  color: #ecaf44;
  padding: 0;
}

.menu-toggle {
  cursor: pointer;
  z-index: 2;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: white;
  height: 3px;
  width: 1.5em;
  border-radius: 3px;
}

.hamburger::before {
  transform: translateY(-7px);
}

.hamburger::after {
  transform: translateY(4px);
}

.open.hamburger {
  transform: rotate(45deg);
}

.open.hamburger::before {
  opacity: 0;
}

.open.hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  overflow-x: hidden;
  height: 100vh;
  background-color: #23374f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 500ms;
}

nav.show {
  width: 100%;
}

.nav-list {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
}

.nav-item {
  padding: 1rem 0;
}

.nav-item:first-child {
  padding-top: 0;
}

.nav-link,
.contact-details {
  transition: color 300ms ease;
}

.nav-link:hover,
.contact-details:hover {
  color: #ecaf44;
}

.wrapper {
  padding: 0 1em;
}

.about-intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-tagline {
  font-size: 1.2rem;
}

.about-img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 4px solid #be2f29;
  margin: 0 auto;
}

.about-description,
.projects {
  padding-top: 4em;
  padding-bottom: 4em;
}

.about-description a {
  display: inline;
  text-decoration: underline;
}

.about-description a:hover {
  font-weight: 700;
  color: #ecaf44;
  text-decoration: none;
}

.skills-section {
  margin-top: 1rem;
}

.skills-tile-group {
  display: flex;
  flex-wrap: wrap;
}

.skill-tile {
  width: 50%;
}

.skills-tile-group i {
  padding: 0.5rem 0;
  font-size: 3rem;
}

.projects {
  background-color: #efefef;
}

.project-tile-group {
  padding: 2em 0;
}

.project-tile {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 2em;
  border-radius: 0.2em;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  transition: 500ms;
}

.project-tile:hover {
  transform: scale(1.1);
}

.card-img {
  height: 100%;
  object-fit: contain;
}

.card-title {
  border-top: 5px solid #23374f;
  font-size: 1.4rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #23374f;
  font-size: 1.3rem;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  transition: 500ms;
}

.btn:hover {
  transform: scale(1.1);
}

.contact {
  padding-top: 4em;
  padding-bottom: 5em;
}

.contact-details {
  padding: 0.5em;
  font-size: 1.5rem;
}

footer {
  box-shadow: 0 1px 6px 0 hsla(0, 0%, 0%, 0.2);
  font-size: 1rem;
  padding: 1em;
}

footer p {
  padding-bottom: 0;
}

/* ----- Media Queries ----- */

@media (min-width: 767px) {
  html {
    font-size: 1.125rem;
  }

  .header-wrapper {
    padding: 1em;
  }

  .header-wrapper,
  .wrapper {
    width: 85%;
    margin: 0 auto;
  }

  .about-img {
    width: 300px;
    height: 300px;
  }

  .skill-tile {
    width: 20%;
  }

  .project-tile-group {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-links {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-details {
    width: 50%;
  }

  .project-tile {
    width: 45%;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  .wrapper {
    padding: 0;
  }

  .project-tile-group {
    display: flex;
  }

  .project-tile-group {
    justify-content: space-around;
  }

  .about-img {
    width: 350px;
    height: 350px;
  }

  .btn {
    font-size: 1.5rem;
  }

  .contact-links {
    flex-wrap: nowrap;
  }

  .contact-details {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .header-wrapper,
  .wrapper {
    width: 80%;
    max-width: 1200px;
  }

  .menu-toggle {
    display: none;
  }

  nav {
    position: relative;
    width: auto;
    overflow: hidden;
    height: auto;
    background: inherit;
    display: block;
    z-index: 0;
    transition: none;
  }

  .nav-bar {
    justify-content: space-between;
  }

  .nav-list {
    text-align: left;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }

  .nav-item {
    margin-left: 3em;
    padding: 0;
  }

  .nav-link {
    display: block;
  }

  .about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .about-item-bio {
    width: 55%;
    text-align: left;
  }

  .about-item-img {
    width: 40%;
  }

  .project-tile {
    width: 30%;
  }

  .contact-details {
    padding: 0;
  }

  @media (min-width: 1800px) {
    .about-img {
      width: 400px;
      height: 400px;
    }
  }
}
